body{
    margin: 0;
    font-size: 20px;
    box-sizing: border-box;
}
.row1{
    margin-left:40px;
    margin-right: 40px;
}
/*----------------------
Home page
-----------------------*/
.home{
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('images.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}
.home-text{
    position: absolute;
/*    width: 1140px;*/
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.home h1{
    margin: 0;
    border: 0;
    font-size: 400%;
    color: white;
    font-weight: 100;
/*    transform:translate(-50%,-50%); */
}
.home a{
    margin-top: 10px;
    margin-left: 10px;
}
.home-text .btn{
    display: inline-block;
    padding: 8px;
    padding-top:5px;
    text-decoration: none;
    border-radius: 20px;
    font-family: 'Inria Serif', serif;
}

.btn1:link,.btn1:visited{
    background: rgba(235, 149, 52);
    border: 1px solid transparent;
    transition-duration:1.5s;
    color: white;
}
.btn2:link,.btn2:visited{
    border: 1px solid white;
    transition-duration: 1s;
    color: orange;
    
}
.btn1:hover{
    background: transparent;
    transition-duration: .5s;
    transition-timing-function: ease-in;
}
.btn2:hover{
    transition-duration: .5s;
    background: rgba(235, 149, 52);
    border: 0.5px solid black;
    color: white;
    
}
/*---------------------
Navigation bar
-----------------------*/
.logo{
    height: 50px;
    float: left;
    margin-top: 10px;
    
}
.main-div{
    float: right;
    list-style: none;
    margin-top: 20px;
}
li{
    display: inline-block;
    margin-left: 40px;
    padding: 5px;
    padding-right: 10px;
    text-align: center;
    font-weight: 10;
}
.main-div li a:link,.main-div li a:visited{
    text-decoration: none;
    padding: 8px 0;
    color: white;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}

.main-div li a:hover{
    border-bottom:1px solid lightcoral;
}

/*--------------
section-home
----------------*/
.section-home h1{
    padding-left: 35%;
    margin: 0;
    border: 0;
    font-size: 400%;
    color: black;
    font-weight: 100;
}
.section-home h1:after{
    content:"";
    height: 2px;
    width :100px;
    margin: 0 19%;
    display: block;
    margin-top:10px;
    background-color: orange;
}
.section-home .row{
    padding: 40px 40px;
    margin: 0;
}
.section-home i{
    font-size: 40px;
    display: block;
    color: #e67e22;
    margin: 20px;
}
.section-home .paragraph, .section-home h2{
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 205%;
    width: 90%;
}

